<a href="https://colab.research.google.com/github/lynnido/wrangling/blob/main/Wrangling_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! git clone https://github.com/DS3001/wrangling

Cloning into 'wrangling'...
remote: Enumerating objects: 92, done.
remote: Counting objects: 100% (52/52), done.
remote: Compressing objects: 100% (34/34), done.
remote: Total 92 (delta 42), reused 18 (delta 18), pack-reused 40 (from 1)
Receiving objects: 100% (92/92), 18.08 MiB | 4.95 MiB/s, done.
Resolving deltas: 100% (43/43), done.
Updating files: 100% (21/21), done.

**Q1. Open the "tidy_data.pdf" document in the repo, which is a paper called Tidy Data by Hadley Wickham.**

1. **Read the abstract. What is this paper about?**

  This paper focuses on data tidying. Specifically he mentions how lots of time and effort is spent cleaning data, however, there is little said about the method we can use to make data cleaning easy and effective.

  The specific structure Wickham discusses is the one where each variable is a column, each observation is a row, and each type of observational unit is a table.

2. **Read the introduction. What is the "tidy data standard" intended to accomplish?**

  Tidy data standard is intended to standardize data cleaning within a dataset. Making it easier to clean data because there is an agreed upon means to measure data.

3. **Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." What does this sentence mean: "For a given dataset, it’s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."**

  The first sentence of "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." highlights how clean dataset share a common ground of where they share similar properties that they're grouped by. While messy dataset often have unique properties that make them difficult to group.

  The second sentence of "For a given dataset, it’s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general." emphasizes how data frames offer an intuitive approach since by deafult a row is associated with observations while a column is associated with a variable. However this is only truly made obvious for the analyst playing with the data, but for someone who isn't familar with the data it could lead to a misuse of data or the way they clean the data.

4. **Read Section 2.2. How does Wickham define values, variables, and observations?**

  A dataset is a collection of values which are numbers if they're quantitative or strings if theyre qualitative. Variables are a collection of values that measure the same underlying attribute across units. Lastly, observations contain all the values that are measured in the same unit across attributes.

5. **How is "Tidy Data" defined in section 2.3?**

  Tidy Data is defined as a standard way of mapping the meaning of a datset to its structure. This is where each variable forms a column, each observation forms a row, and each type of observational unit forms a table.

6. **Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset?**

  **5 Most Common Problems with Messy Data:**
  1. Column headers are values, not variable names
  2. Multiple variables are stored in one column
  3. Variables are stored in both rows and columns
  4. Multiple types of observational units are stored in the same table
  5. A single observational unit is stored in multiple tables

  **Why are the data in Table 4 messy?**

  The data in Table 4 is messy because the columns are hidden variables. Right now the table showcases column headers that are values rather than variable names. A better representation and more tidy way of fixing this table is to create a new column called income and put that next to the religion column. By changing this, it can allow analysts to take the variables rather than the values.  

  **What is "melting" a dataset?**

  In order to tidy a dataset, we need to melt it. Melting a dataset is the process where one converts column value variables into rows.

7. **Why, specifically, is table 11 messy but table 12 tidy and "molten"?**

  Table 11 is messy because at the top section the column section contain values rather than variables.
  
  Table 12a is tidy and "molten" because the element variable contains variable names and not values. Table 12b is an example of tidy dataset because all the entries are attributes and not variable names. For example, tmax is a variable, and the elements inside this variable are values.

8. **Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?**

  Wickham mentions how if tidy data is only used as a tool to work with then it can be easy to ge stuck in a local maxima, thus not improving workflow. Essentially what he hopes to happen in the future with data wrangling is to create a bigger frame of ideas and tools that individuals can use in general. He does not want the tidy data concept to be a way to train people how to use one software effectively, but as something we can break out of this local maxima of the tools we're accustomed to.

**Q2. This question provides some practice cleaning variables which have common problems.**

**1. Numeric variable: For ./data/airbnb_hw.csv, clean the Price variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)**

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

df = pd.read_csv('./wrangling/assignment/data/airbnb_hw.csv', low_memory=False)
print(df.shape, '\n')
df.head()

(30478, 13)

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,6/26/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,6/26/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0

In [3]:
price = df['Price']
price.unique()

array(['145', '37', '28', '199', '549', '149', '250', '90', '270', '290',
       '170', '59', '49', '68', '285', '75', '100', '150', '700', '125',
       '175', '40', '89', '95', '99', '499', '120', '79', '110', '180',
       '143', '230', '350', '135', '85', '60', '70', '55', '44', '200',
       '165', '115', '74', '84', '129', '50', '185', '80', '190', '140',
       '45', '65', '225', '600', '109', '1,990', '73', '240', '72', '105',
       '155', '160', '42', '132', '117', '295', '280', '159', '107', '69',
       '239', '220', '399', '130', '375', '585', '275', '139', '260',
       '35', '133', '300', '289', '179', '98', '195', '29', '27', '39',
       '249', '192', '142', '169', '1,000', '131', '138', '113', '122',
       '329', '101', '475', '238', '272', '308', '126', '235', '315',
       '248', '128', '56', '207', '450', '215', '210', '385', '445',
       '136', '247', '118', '77', '76', '92', '198', '205', '299', '222',
       '245', '104', '153', '349', '114', '320', '292', '226', '420',
       '500', '325', '307', '78', '265', '108', '123', '189', '32', '58',
       '86', '219', '800', '335', '63', '229', '425', '67', '87', '1,200',
       '158', '650', '234', '310', '695', '400', '166', '119', '62',
       '168', '340', '479', '43', '395', '144', '52', '47', '529', '187',
       '209', '233', '82', '269', '163', '172', '305', '156', '550',
       '435', '137', '124', '48', '279', '330', '5,000', '134', '378',
       '97', '277', '64', '193', '147', '186', '264', '30', '3,000',
       '112', '94', '379', '57', '415', '236', '410', '214', '88', '66',
       '71', '171', '157', '545', '1,500', '83', '96', '1,800', '81',
       '188', '380', '255', '505', '54', '33', '174', '93', '740', '640',
       '1,300', '440', '599', '357', '1,239', '495', '127', '5,999',
       '178', '348', '152', '242', '183', '253', '750', '259', '365',
       '273', '197', '397', '103', '389', '355', '559', '38', '203',
       '999', '141', '162', '333', '698', '46', '360', '895', '10', '41',
       '206', '281', '449', '388', '212', '102', '201', '2,750', '4,750',
       '432', '675', '167', '390', '298', '339', '194', '302', '211',
       '595', '191', '53', '361', '480', '8,000', '4,500', '459', '997',
       '345', '216', '218', '111', '735', '276', '91', '490', '850',
       '398', '36', '775', '267', '625', '336', '2,500', '176', '725',
       '3,750', '469', '106', '460', '287', '575', '227', '263', '25',
       '228', '208', '177', '880', '148', '116', '685', '470', '217',
       '164', '61', '645', '699', '405', '252', '319', '268', '419',
       '343', '525', '311', '840', '154', '294', '950', '409', '184',
       '257', '204', '241', '2,000', '412', '121', '288', '196', '900',
       '647', '524', '1,750', '309', '510', '1,495', '1,700', '799',
       '383', '372', '492', '327', '1,999', '656', '224', '173', '875',
       '1,170', '795', '690', '146', '465', '1,100', '151', '274', '429',
       '825', '282', '256', '1,111', '620', '271', '161', '51', '855',
       '579', '1,174', '430', '20', '899', '649', '485', '181', '455',
       '4,000', '243', '342', '590', '560', '374', '437', '232', '359',
       '985', '31', '244', '254', '723', '237', '428', '370', '34',
       '1,400', '580', '2,520', '221', '749', '1,600', '2,695', '306',
       '202', '680', '570', '520', '223', '2,295', '213', '1,065', '346',
       '24', '286', '296', '266', '26', '995', '1,368', '393', '182',
       '635', '258', '780', '589', '347', '1,250', '1,350', '446',
       '3,200', '1,050', '1,650', '1,550', '975', '323', '6,500', '2,499',
       '1,850', '2,250', '715', '461', '540', '356', '439', '384', '569',
       '1,900', '22', '785', '626', '830', '318', '444', '321', '401',
       '1,499', '888', '369', '770', '386', '366', '344', '630', '313',
       '597', '262', '509', '10,000', '278', '312', '789', '1,195', '422',
       '21', '765', '3,500', '945', '326', '3,100', '2,486', '3,390',
       '1,356', '2,599', '472', '454', '328', '396', '291'], dtype=object)

In [4]:
price = df['Price'] # Assigns Price column to df
price = price.str.replace(',', '') # Replaces all the commons with nothing
price = pd.to_numeric(price, errors='coerce') # Converts price to floats and numerics
print(price.unique(), '\n')
print('Total missing: ', sum(price.isnull())) # Sum() counts the number of true that correspond to missing entries

[  145    37    28   199   549   149   250    90   270   290   170    59
    49    68   285    75   100   150   700   125   175    40    89    95
    99   499   120    79   110   180   143   230   350   135    85    60
    70    55    44   200   165   115    74    84   129    50   185    80
   190   140    45    65   225   600   109  1990    73   240    72   105
   155   160    42   132   117   295   280   159   107    69   239   220
   399   130   375   585   275   139   260    35   133   300   289   179
    98   195    29    27    39   249   192   142   169  1000   131   138
   113   122   329   101   475   238   272   308   126   235   315   248
   128    56   207   450   215   210   385   445   136   247   118    77
    76    92   198   205   299   222   245   104   153   349   114   320
   292   226   420   500   325   307    78   265   108   123   189    32
    58    86   219   800   335    63   229   425    67    87  1200   158
   650   234   310   695   400   166   119    62   168   340   479    43
   395   144    52    47   529   187   209   233    82   269   163   172
   305   156   550   435   137   124    48   279   330  5000   134   378
    97   277    64   193   147   186   264    30  3000   112    94   379
    57   415   236   410   214    88    66    71   171   157   545  1500
    83    96  1800    81   188   380   255   505    54    33   174    93
   740   640  1300   440   599   357  1239   495   127  5999   178   348
   152   242   183   253   750   259   365   273   197   397   103   389
   355   559    38   203   999   141   162   333   698    46   360   895
    10    41   206   281   449   388   212   102   201  2750  4750   432
   675   167   390   298   339   194   302   211   595   191    53   361
   480  8000  4500   459   997   345   216   218   111   735   276    91
   490   850   398    36   775   267   625   336  2500   176   725  3750
   469   106   460   287   575   227   263    25   228   208   177   880
   148   116   685   470   217   164    61   645   699   405   252   319
   268   419   343   525   311   840   154   294   950   409   184   257
   204   241  2000   412   121   288   196   900   647   524  1750   309
   510  1495  1700   799   383   372   492   327  1999   656   224   173
   875  1170   795   690   146   465  1100   151   274   429   825   282
   256  1111   620   271   161    51   855   579  1174   430    20   899
   649   485   181   455  4000   243   342   590   560   374   437   232
   359   985    31   244   254   723   237   428   370    34  1400   580
  2520   221   749  1600  2695   306   202   680   570   520   223  2295
   213  1065   346    24   286   296   266    26   995  1368   393   182
   635   258   780   589   347  1250  1350   446  3200  1050  1650  1550
   975   323  6500  2499  1850  2250   715   461   540   356   439   384
   569  1900    22   785   626   830   318   444   321   401  1499   888
   369   770   386   366   344   630   313   597   262   509 10000   278
   312   789  1195   422    21   765  3500   945   326  3100  2486  3390
  1356  2599   472   454   328   396   291]

Total missing:  0

Prices over a thousand often include a comma. By removing the comma using the replace function we can ensure that the prices are interpreted as numeric values.

After conversion, there were no missing values after cleaning. Which means that all the price entries were converted into numeric format without any formatting issues.

**2. Categorical variable: For the ./data/sharks.csv data covered in the lecture, clean the "Type" variable as well as you can, and explain the choices you make.**

In [5]:
df = pd.read_csv('./wrangling/data/sharks.csv', low_memory=False)
# df.head()
# df.columns.tolist()

df['Type'].value_counts()

Type
Unprovoked             4716
Provoked                593
Invalid                 552
Sea Disaster            239
Watercraft              142
Boat                    109
Boating                  92
Questionable             10
Unconfirmed               1
Unverified                1
Under investigation       1
Boatomg                   1
Name: count, dtype: int64

In [6]:
type = df['Type']

type = type.replace(['Sea Disaster', 'Boat','Boating','Boatomg'],'Watercraft') # Replace into standardize term of Watercraft
type.value_counts()

type = type.replace(['Invalid', 'Questionable','Unconfirmed','Unverified','Under investigation'],np.nan) # Mark these as missing
type.value_counts()

df['Type'] = type # Clean version
del type

df['Type'].value_counts()

Type
Unprovoked    4716
Provoked       593
Watercraft     583
Name: count, dtype: int64

Replacing terms like 'Sea Disaster', 'Boat', 'Boating', and 'Boatomg' with a standardized term like 'Watercraft' helps to reduce variability in the data.

In [7]:
df['Fatal (Y/N)'] = df['Fatal (Y/N)'].replace(['UNKNOWN', 'F','M','2017'],np.nan) # Uncleaned data values
df['Fatal (Y/N)'] = df['Fatal (Y/N)'].replace('y','Y') # Uncleaned data values
pd.crosstab(df['Type'],df['Fatal (Y/N)'],normalize='index')

Fatal (Y/N)         N         Y
Type
Provoked     0.967521  0.032479
Unprovoked   0.743871  0.256129
Watercraft   0.684303  0.315697

**3. Dummy variable: For the pretrial data covered in the lecture, clean the WhetherDefendantWasReleasedPretrial variable as well as you can, and, in particular, replace missing values with np.nan.**

In [8]:
import pandas as pd
import numpy as np
import seaborn as sns

df = pd.read_parquet('./wrangling/data/justice_data.parquet')
# df.head()
# df.columns.tolist()

In [9]:
release = df['WhetherDefendantWasReleasedPretrial']
print(release.unique(),'\n')
print(release.value_counts(),'\n')
release = release.replace(9,np.nan)
print(release.value_counts(),'\n')
sum(release.isnull())
df['WhetherDefendantWasReleasedPretrial'] = release
del release

[9 0 1]

WhetherDefendantWasReleasedPretrial
1    19154
0     3801
9       31
Name: count, dtype: int64

WhetherDefendantWasReleasedPretrial
1.0    19154
0.0     3801
Name: count, dtype: int64

**4. Missing values, not at random: For the pretrial data covered in the lecture, clean the ImposedSentenceAllChargeInContactEvent variable as well as you can, and explain the choices you make. (Hint: Look at the SentenceTypeAllChargesAtConvictionInContactEvent variable.)**

In [10]:
length = df['ImposedSentenceAllChargeInContactEvent']
type = df['SentenceTypeAllChargesAtConvictionInContactEvent']

# print( length.unique()  , '\n')
length = pd.to_numeric(length,errors='coerce')
length_NA = length.isnull()
print( np.sum(length_NA),'\n')

print( pd.crosstab(length_NA, type), '\n')

length = length.mask( type == 4, 0)
length = length.mask( type == 9, np.nan)

length_NA = length.isnull()
print( pd.crosstab(length_NA, type), '\n')
print( np.sum(length_NA),'\n')

df['ImposedSentenceAllChargeInContactEvent'] = length
del length, type

9053

SentenceTypeAllChargesAtConvictionInContactEvent     0     1    2     4    9
ImposedSentenceAllChargeInContactEvent
False                                             8720  4299  914     0    0
True                                                 0     0    0  8779  274

SentenceTypeAllChargesAtConvictionInContactEvent     0     1    2     4    9
ImposedSentenceAllChargeInContactEvent
False                                             8720  4299  914  8779    0
True                                                 0     0    0     0  274

274